$blue: #4DABC5;
$yellow: #CACF2E;
$red: #FD4943;
$darkgrey: #4C4C4E;
$heather: #717171;
$medgrey: #E8E8E8;
$lightgrey: #F3F3F3;


section.bio {
	background: $darkgrey;
	padding: 100px 0 80px;
	border-bottom: 3px solid $blue;
	border-top: 3px solid $blue;
}

.bio-pic {
	@include column(5);
	img {
		height: auto;
	}
}

.bio-text {
	@include column(7);
	p {
		font-weight: 300;
		color: white;
		margin: 0 0 10px 0;
	}
}

.bio-social .fa {
	color: white;
	font-size: 3rem;
	transition: 0.3s;
}

.bio-social .fa:hover {
	color: $red;
}

.bio-social ul {
	padding-left: 0;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	li {
		margin-right: 50px;
	}
}

.skill-box {
	clear: both;
	margin: 0 auto;
	padding: 60px 10px 0;
	ul {
		margin: 0 auto;
	}
}

.skill-box li {
	float: left;
	margin-right: 15px;
	font-size: 4rem;
	font-weight: 400;
	color: $red;
}

/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 850px) {

	.bio-pic {
		@include column(8);	
		@include push(2);
		margin-bottom: 30px;
	}

	.bio-text {
		@include column(8);
		@include push(2);
	}

	.bio-social ul {
		justify-content: center;
		margin-top: 30px;
		li {
			margin-right: 25px;
			margin-left: 25px;
		}
	}
}

@media all and (max-width: 700px) {

	.bio-pic {
		@include column(10);	
		@include push(1);
		margin-bottom: 30px;
	}

	.bio-text {
		@include column(10);
		@include push(1);
	}

}

@media all and (max-width: 420px) {

	.bio-social ul {
		justify-content: space-around;
		li {
			margin-right: 0;
			margin-left: 0;
		}
	}

}

@media all and (max-width: 400px) {

	.bio-pic {
		@include column(12);	
		margin-bottom: 15px;
	}

	.bio-text {
		@include column(12);
	}

}



