section.contact {
	padding: 100px 0 20px;
	background: $medgrey;
}

.contact-form {
	margin-top: 100px;
	p {
		color: $darkgrey;
		margin: 0 0 30px 0;
	}
}

input, textarea {
	border: none;
	background: $lightgrey;
	width: 100%;
	&:focus {
		outline: none;
	}
}

input {
	padding: 10px 10px;
}

form p {
	font-size: 1.4rem;
	font-weight: 300;
}

div.wpcf7 {
	width: 50%;
	margin: 0 auto !important; 
}

input[type=submit] {
	background: none;
	border: 1px $blue solid;
	text-transform: uppercase;
	color: $darkgrey !important;
	padding: 15px 0;
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 3px;
	transition: 0.2s;
	&:hover {
		background: $blue;
	}
}
