section.contact {
	padding: 100px 0 20px;
	background: $medgrey;
}

.contact-form {
	@include column(8);
	@include push(2);
	margin-top: 100px;
	// margin: 100px auto 0;
	// width: 60%;
	p {
		color: $darkgrey;
		margin: 0 0 30px 0;
	}
}

.ninja-forms-required-items {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 30px;
}

#ninja_forms_field_1_label, #ninja_forms_field_2_label, #ninja_forms_field_3_label {
	font-size: 1.6rem;
	font-weight: 300;
}


label .ninja-forms-req-symbol {
	color: $red;
}

.ninja-forms-required-items .ninja-forms-req-symbol {
	color: $red;
}

#ninja_forms_field_3 {
	height: 80px;
}

input, textarea {
	border: none;
	border-bottom: 1px $blue solid;
	background: none;
	font-size: 1.6rem;
	font-weight: 300;
	width: 100%;
	padding: 10px;
	margin-bottom: 30px;
	&:focus {
		outline: none;
	}
}

#nf_submit_1 {
	text-align: center;
}

input[type=submit] {
	border: 1px $blue solid;
	text-transform: uppercase;
	color: $darkgrey !important;
	padding: 15px 30px;
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 3px;
	border-radius: 0;
	transition: 0.2s;
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
	&:hover {
		background: $blue;
	}
}

#ninja_forms_form_1_response_msg {
	text-align: center;
	text-transform: uppercase;
	color: $darkgrey;
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 3px;
	p {
		margin-bottom: 0;
	}
}

.contact-sub {
	@include column(8);
	@include push(2);
	text-align: center;
	font-weight: 300;
	margin-top: 50px;
}

.contact-sub .btn {
	border: 1px solid $blue;
	color: $darkgrey;
	&:hover {
		background: $blue;
	}
}

.email {
	margin-top: 50px;
}



/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 650px) {

	.contact-form {
		@include column(10);
		@include push(1);
		margin-top: 100px;
	}

	.contact-sub {
		@include column(10);
		@include push(1);
		margin-top: 50px;
	}
}

@media all and (max-width: 468px) {

	.email {
		width: 100%;
	}

	.contact-sub .btn {
		padding-left: 10px;
		padding-right: 10px;
		letter-spacing: 1px;
		font-size: 1.4rem;
	}


}
