.hero {
	background: url(images/hero_bg_texture.jpg) fixed center top;
	background-size: cover;
	padding: 160px 0 120px;
	text-align: center;
	position: relative;
}


.connect {
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
}

.hero .btn {
	box-shadow: 3px 6px 0px 0px rgba(0,0,0,0.2);
}

/*
====================================
Media Queries
====================================
*/


@media all and (max-width: 600px) {
	.connect {
		width: 70%;
	}
}

@media all and (max-width: 440px) {
	.connect {
		width: 90%;
	}

	.hero .btn {
		font-size: 1.4rem;
	}

}