.hero {
	background: url(images/hero_bg_nopic.jpg) center;
	padding: 180px 0 120px;
	text-align: center;
	position: relative;
}

.connect {
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
}

.hero .btn {
	box-shadow: 3px 6px 0px 0px rgba(0,0,0,0.2);
}