header {
	background: rgba(243,243,243,0.9);
	border-bottom: 1px #C3C3C3 solid;
	padding: 10px 0;
	// text-align: center;
	position: fixed;
	z-index: 999999;
	width: 100%;
	img {
		margin-left: 50px;
	}
}

.burger {
	font-size: 3rem;
	float: right;
	margin-right: 50px;
}

a.burger {
	color: $darkgrey;
	&:hover {
		color: $blue;
	}
}

nav {
	margin: 0;
	padding: 5% 3%;
	background: $darkgrey;
	position: absolute;
	top: 0;
	right: -25%;
	width: 25%;
	height: 100vh;
	// display: none;
}

.fa-close {
	color: $blue;
	font-size: 3rem;
	float: right;
	cursor: pointer;
	transition: 0.2s;
	&:hover {
		color: $medgrey;
	}
}

ul.menu {
	// display: none;
	li {
		margin: 30px 0;
		a {
			color: $blue;
			font-size: 1.6rem;
			text-transform: uppercase;
			transition: 0.2s;
			&:hover {
				color: $medgrey;
			}
		}
	}
}