header {
	background: $lightgrey;
	padding: 10px 0;
	text-align: center;
	position: fixed;
	z-index: 999999;
	width: 100%;
}

.burger {
	font-size: 3rem;
	position: absolute;
	top: 12px;
	right: 50px;
}

a.burger {
	color: $darkgrey;
	&:hover {
		color: $blue;
	}
}

ul.menu {
	margin: 0;
	padding: 0;
	display: none;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			background: #333;
			color: white;
		}
	}
}