$blue: #4DABC5;
$yellow: #CACF2E;
$red: #FD4943;
$darkgrey: #4C4C4E;
$heather: #717171;
$medgrey: #E8E8E8;
$lightgrey: #F3F3F3;

header {
	background: rgba(243,243,243,0.9);
	border-bottom: 1px #C3C3C3 solid;
	padding: 10px 0;
	// text-align: center;
	position: fixed;
	z-index: 999999;
	width: 100%;
	img {
		margin-left: 50px;
	}
}

.burger {
	font-size: 3rem;
	float: right;
	margin-right: 50px;
	cursor: pointer;
	color: $darkgrey;
	transition: 0.2s;
	&:hover {
		color: $blue;
	}
}

nav {
	margin: 0;
	padding: 15px 50px;
	background: $lightgrey;
	border-left: 1px solid $medgrey;
	position: fixed;
	top: 0;
	right: -200px;
	width: 200px;
	height: 100vh;
	// display: none;
}

.nav-close {
	float: right;
	cursor: pointer;
}

ul.menu {
	// display: none;
	margin-top: 80px;
	li {
		margin: 30px 0;
		a {
			color: $blue;
			font-size: 1.6rem;
			font-weight: 300;
			text-transform: uppercase;
			transition: 0.2s;
			&:hover {
				color: $darkgrey;
			}
		}
	}
}


/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 400px) {
	
	header img {
		margin-left: 20px;
	}

	.burger {
		margin-right: 20px;
	}

}