$heather: #717171;


section.portfolio {
	background: $lightgrey;
	padding-top: 100px;
	h2 {
		margin-bottom: 50px;
	}
	p {
		font-weight: 300;
	}
}

.portfolio-img {
	@include column(6);
	img {
		height: auto;
	}
}

.portfolio-info {
	@include column(6);
}

.project {
	padding: 70px 0;
	clear: both;
}

.project:nth-child(odd) {
	background: $darkgrey;
	p {
		color: $lightgrey;
	}
	.btn {
		box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
	}
}

.portfolio-tech li {
	float: left;
	margin-right: 15px;
	font-size: 3rem;
	font-weight: 400;
	color: $red;
}

.portfolio-links {
	margin-top: 30px;
	a {
		display: inline-block;
		width: calc(50% - 15px);
		padding: 15px 10px;
	}
	.btn-blue {
		margin-right: 15px;
	}
}


/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 768px) {

	.portfolio-img {
		@include column(8);
		@include push(2);
		margin-bottom: 30px;
	}

	.portfolio-info {
		@include column(8)
		@include push(2);
	}
	
}

@media all and (max-width: 630px) {

	.portfolio-img {
		@include column(10);
		@include push(1);
		margin-bottom: 30px;
	}

	.portfolio-info {
		@include column(10);
		@include push(1);
	}
	
}

@media all and (max-width: 480px) {

	.portfolio-img {
		@include column(12);
		margin-bottom: 30px;
	}
	
}

@media all and (max-width: 430px) {

	.portfolio-links {
		a {
			padding: 15px 0px;
			letter-spacing: 1px;
			font-size: 1.4rem;
		}
	}

	.portfolio-tech li {
		margin-right: 10px;
	}
	
}
