section.social-main {
	background: $red;
	padding: 40px 0;
}

.social .fa {
	color: white;
	font-size: 4rem;
	transition: 0.2s;
}

.social .fa:hover {
	color: $darkgrey;
}

.social ul {
	padding-left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	li {
		margin: 0 40px;
	}
}

/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 500px) {

	.social ul {
		justify-content: space-around;
		li {
			margin: 0;
		}
	}
	
}