$blue: #4DABC5;
$yellow: #CACF2E;
$darkgrey: #4C4C4E;
$medgrey: #E8E8E8;
$lightgrey: #F3F3F3;


a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: $blue;
	}
}

/* headers */

h1, h2, h3 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	
}

.title {
	text-align: center;
}

h2 {
	color: $darkgrey;
	font-size: 4.8rem;
	letter-spacing: 7.5px;
	text-align: center;
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

h2::after {
	content: url(images/title_x.png);
	position: absolute;
	left: calc(50% - 35px);
	top: -5px;
	z-index: -99999;
}

h3 {
	color: $blue;
	font-size: 3.6rem;
	letter-spacing: 5.5px;
}



/* paragraphs */

p {
	line-height: 1.5;
	font-size: 1.6rem;
	color: $darkgrey;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}